$BLACK_COLOR: #000;
$WHITE_COLOR: #fff;
$WHITE_DARK_COLOR: transparentize(
  $color: $WHITE_COLOR,
  $amount: 0.3,
);
$WHITE_LIGHT_COLOR: transparentize(
  $color: $WHITE_COLOR,
  $amount: 0.88,
);
